
<!DOCTYPE html>

<html>
    <head>
        <title>Comet clock</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/flat-ui.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">

            <h1>COMETを利用した疑似Push(iframe)</h1>

            <div id="outroom" class="show">
                <form id="inroomform" >
                    <span>ニックネーム：</span>
                    <input type="text" id="inroomname"  />
                    <input type="submit" type="btn" value="入室" />
                </form>
            </div>
            <div id="inroom" class="hide">
                <div id="msgbord" style="height:300px;overflow:scroll;">
                </div>
                <form id="tellForm" method="POST" action="./tell" > 
                    <input id="hiduuid" name="uuid" type="hidden" />
                    <input id="hiduname" name="uname" type="hidden" />
                    <input name="text" type="text" value="" placeholder="文字列"/>
                    <input type="submit" value="送信" class="btn" />
                </form>
            <div>
        </div>
        <script type="text/javascript" charset="utf-8">
            function guid() {
                var s4 = function(){
                    return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
                }
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
            }
            $(document).ready(function(){
                $("#inroomform").on("submit", function(e){
                    e.preventDefault();
                    if($.trim($("#inroomname").val())==""){ alert("入力してください。");return false;}
                    $("#outroom").hide();
                    $("#inroom").show();

                    var uuid = guid();
                    var uname = $("#inroomname").val();
                    var src="./inroomchat/" + uuid + "/" + uname;
                    $('body').append('<iframe style="display:none;" src="' + src + '"></iframe>');
                    var tellForm = $("#tellForm");
                    tellForm.on("submit",function(e){
                        $("#hiduuid").val(uuid);
                        $("#hiduname").val(uname);
                        e.preventDefault();
                        $.ajax({
                            type: tellForm.attr("method"),
                            url: tellForm.attr("action"),
                            data: tellForm.serialize(),
                            success: function(data, dataType){},
                            error: function(XMLHttpRequest, textStatus, errorThrown){}
                        });
                    });

                });
            });
            // Called for each Comet message
            var clockChanged = function(result) {
                if(!result) return false;
                var obj = result;
                var msgbord = $('#msgbord');
                msgbord.append('<div><div class="msg">' + obj.uname + ":" + obj.message + '</div><div class="attr">[' + obj.datetime + ' / ' + obj.uuid  + ']</div>' + '</div>');
                msgbord.scrollTop(msgbord.scrollTop()+100);
                //msgbord.animate({scrollTop:targetY});
            }
        </script>
        
    </body>
</html>

