
<!DOCTYPE html>

<html>
    <head>
        <title>Forever iFrame Example</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/flat-ui.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">

            <h1>Forever iFrame Example</h1>

            <div id="outroom" class="show">
                <form id="inroomform" >
                    <span>name:</span>
                    <input type="text" id="inroomname"  />
                    <input type="submit" type="btn" value="in room." />
                </form>
            </div>
            <div id="inroom" class="hide">
                <p>只今の参加人数:<span id="ninsu"></span>人</p>
                <div id="msgbord" style="height:300px;overflow:scroll;">
                </div>
                <form id="tellForm" method="POST" action="./tell" > 
                    <input id="hiduname" name="uname" type="hidden" />
                    <p>
                        <input id="message" type="text" name="text" placeholder="メッセージを入力してください。" style="width:100%;" />
                    </p>
                    <input type="submit" value="送信" class="btn" />
                </form>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                $("#inroomform").on("submit", function(e){
                    e.preventDefault();
                    if($.trim($("#inroomname").val())==""){ $("#inroomname").val("名無しさん") }
                    $("#outroom").hide();
                    $("#inroom").show();

                    var uname = $("#inroomname").val();
                    uname = uname.replace("/","／");
                    var src="./inroomchat/" + uname;
                    $('body').append('<iframe style="display:none;" src="' + src + '"></iframe>');
                    var tellForm = $("#tellForm");
                    tellForm.on("submit",function(e){
                        $("#hiduname").val(uname);
                        e.preventDefault();
                        $.ajax({
                            type: tellForm.attr("method"),
                            url: tellForm.attr("action"),
                            data: tellForm.serialize(),
                            success: function(data, dataType){
                                $("#message").val("");
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown){}
                        });
                    });

                });
            });
            // Called for each Comet message
            var chatmsg = function(result) {
                if(!result) return false;
                var obj = result;
                var msgbord = $('#msgbord');
                $("#ninsu").html(obj.sankasu);
                msgbord.append('<div><div class="msg">' + obj.uname + ":" + obj.message + '</div><div class="attr">[' + obj.datetime + ' / ' + obj.uuid  + ']</div>' + '</div>');
                msgbord.scrollTop(msgbord.scrollTop()+100);
                //msgbord.animate({scrollTop:targetY});
            }
        </script>
        
    </body>
</html>

